$cinza:#e7e7e7;
$laranja:#df6c05;
$preto:#000000;
$cinza-letra:#777;
$branco: #fff;
$line: rgba(235,235,235, 0.9);
$cinza-box: #f8f8f8;
$cinza-border: rgba(119,119,119,0.5);

*{margin: 0; padding: 0;}
label {  text-align: left !important;  padding-bottom: 5px;}
.control-label {padding-top: 0px !important;}
.helv { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  color:$cinza-letra;}
textarea {margin-top: 10px !important;}
header {
  height: 80px;
  background-color: $cinza;
}

.logo {
  padding-top: 20px;
}
.circle {
  height: 25px;
  border-radius: 500px;
  width: 25px;
  z-index: 100;
  color:$laranja;
  margin-top: 1px;
  -webkit-border-top-right-radius: 500px;
  -webkit-border-bottom-right-radius: 500px;
  -webkit-border-bottom-left-radius: 500px;
  -webkit-border-top-left-radius: 500px;
  -moz-border-radius-topright: 500px;
  -moz-border-radius-bottomright: 500px;
  -moz-border-radius-bottomleft: 500px;
  -moz-border-radius-topleft: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-left-radius: 500px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-user {
  color:$laranja;
  border: 2px solid $laranja;
  @extend .circle;
  font-size: 12px;
  padding: 5px 2px 2px 5px;
  }
.span-user {
  width: 100%;
  a {
    text-decoration: none;
    @extend .helv;
    }
}
.caminho {
  background-color: $branco;
  margin: 0 !important;
  a {
    text-decoration: none;
    @extend .helv;
  }
}
time {
  @extend .helv;
  margin-top: 5px;
    a {
      text-decoration: none !important;
      padding-left:5px;
      @extend .helv ;
    }
}
.data {
  padding: 8px 30px;
}
.line {
  border-bottom: 1px solid $line ;
}
.status {
  margin-top: 10px;
      a {
      padding: 0px 5px 0px 5px;
      text-decoration: none;
      @extend .helv;
    }
    p{
      @extend .helv;
    }
}
.icon {
    color:$laranja;
}
.bg-content {
  background-color: $cinza;
  border: 1px solid $cinza-border;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.63);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.63);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.63);
  padding-bottom: 20px;
}
#side-bar {
  background-color: $cinza-box;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid $cinza-border;
}
#conteudo {
 @extend #side-bar;
}
.cont-texto {
    p a {
      text-decoration: none;
    }
}
.icon-cont a {
  @extend  .icon;
    span {
  border:3px solid $cinza-border;
  padding:  8px;
  border-radius: 4px;
  background-color: $cinza !important;
}
}
.desc {
 text-align: left;
  a{
  text-decoration: none;
  @extend .helv;
}
}
.pd-input {
  margin-top: 10px !important;
}
.border-direita {
  border-right: 1px solid $line;
}
.border-esquerda {
  border-left: 1px solid $line;
}
footer {
  height: 60px;
  background-color: $preto;
  margin-top: 30px;
  margin-bottom:  20px;
}
.texto-footer {
  color:$branco;
  padding-top: 20px;
  text-align: center;
   span {
     color: $laranja;
   }
}
